global:
  sasl:
    enable: true
    user: "username"
    password: "password"
    mechanism: "PLAIN"
  tls:
    enable: true
  consumer:
    initial_offset: "oldest"

broker:
  brokers:
    - "localhost:9092"
    - "localhost:9093"
    - "localhost:9094"
  topic: "example-topic"
  group: "example-group"
  replication:
    table: 1
    stream: 1
  partitions: 3